* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Webkit Browsers (Chrome, Safari, Edge, Opera) */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
/* background-color: rgba(0, 0, 255, 0.3); */
    background-color: white;
    border-radius: 10px;
    border: 2px solid transparent;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
::-webkit-scrollbar:hover {
    width: 12px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 255, 0.5);
}
/* Firefox */
html {
    scrollbar-width: thin; /* Makes the scrollbar thin */
    scrollbar-color: rgba(10, 0, 255, 0.8) rgba(255, 255, 255, 0.2); /* Thumb color, Track color */
}
.class-toggle {
    background-color: rgb(0, 0, 255);
}
body {
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
    background-image: url(resources/background.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    .sequencer {
        height: 200px;
    }
}
.sequencer {
    bottom: 1em;
    width: 50vw;
    /* height: 21vh; */
    border: 1px solid lightslategray;
    border-radius: 1em;
    overflow: clip;
}
.sounds-column, .options-menu, .sequencer {
    background-color: rgba(0,0,0,0.5);
}
.sounds-column, .list-title, .sounds-list, .item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sounds-column {
    flex: 1;
    color: white;
    border-right: 1px solid lightslategrey;
    width: 20%;
    height: 100%;
}
.list-title {
    height: 18%;
    justify-content: center;
}
.sounds-list {
    justify-content: space-evenly;
    flex: 1;
    width: 80%;
    height: 82%;

    padding-bottom: 1em;
} 
.item {
    width: 100%;
    height: 5%;
    font-size: 50%;
    letter-spacing: 0.2em;
}
.column-border {
    border: 1px solid red;
}
.options-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    right: 0;
    border-bottom: 1px solid lightslategrey;
    width: 80%;
    height: 20%;
}
.play-button, .column-set, .stop-button {
    color: white;
    background-color: rgba(0,0,0,0.5);
    border-color: lightslategrey;
    width: 8%;
    height: 80%;
    font-size: 80%;
}
.stop-button {
    margin-right: 1em;
}
.label {
    font-size: 0.8em;
    color: white;
}
.speed-input, .column-input {
    width: 8%;
}
.sounds-selector {
    display: grid;
    overflow-x: auto;
    right: 0;
    bottom: 0;
    width: 80%;
    height: 80%;
}
.drumkit {
    position: absolute;
    width: 2288px;
    height: 1830px;
    transform: scale(0.2);
    background-image: url(resources/Drumkit.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.hi-hat, 
.hi-hat-pedal, 
.crash, 
.ride, 
.snare, 
.hi-tom, 
.mid-tom, 
.floor-tom, 
.bass-drum, 
.logo,
.animation, .sounds-column, .options-menu, .sounds-selector, .sequencer, .audio-files {
    position: absolute;
}
.hi-hat:active .animation,
.hi-hat-pedal:active .animation, 
.crash:active .animation, 
.ride:active .animation, 
.snare:active .animation, 
.hi-tom:active .animation,
.mid-tom:active .animation, 
.floor-tom:active .animation,
.bass-drum:active .animation 
{
    animation: wave 0.1s ease-out;
}
.animating {
    animation: wave 0.1s ease-out;
}
.hi-hat {
    top: 12em;
    right: 9em;
    width: 23em;
    height: 20em;
}
.hi-hat-pedal {
    width: 37em;
    height: 35em;
    bottom: 5em;
    right: 5em;
}
.crash {
    width: 30em;
    height: 15em;
    top: 0em;
    right: 20em;
}
.ride {
    width: 40em;
    height: 15em;
    top: 15em;
    left: 0em;
}
.snare {
    width: 30em;
    height: 15em;
    right: 30em;
    bottom: 55em;
    z-index: 1;
}
.hi-tom {
    width: 25em;
    height: 25em;
    top: 25em;
    right: 47em;
    z-index: 2;
}
.mid-tom {
    width: 25em;
    height: 25em;
    top: 25em;
    left: 45em;
    z-index: 2;
}
.floor-tom {
    width: 25em;
    height: 30em;
    top: 40em;
    left: 28em;
    z-index: 1;
}
.bass-drum {
    width: 45em;
    height: 45em;
    left: 50em;
    bottom: 5em;
    z-index: 0;
}
.logo {
    background-image: url(resources/Adibast-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20em;
    height: 5em;
    left: 61em;
    bottom: 40em;
    z-index: 20;
}
.animation {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 5px solid white;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    opacity: 0;
}
.audio-files {
    top: 0;
}
@keyframes wave {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(10);
        opacity: 0;
    }
}
@media screen and (max-width: 390px) {
    body {
        overflow: clip !important;
    }
    .options-menu {
        padding-right: 0.5em;
    }
    .sequencer {
        width: 90%;
    }
    .sounds-column {
        width: 30%;
    }
    .list-title {
        font-size: small;
        text-align: center;
    }
    .sounds-selector, .options-menu {
        width: 70%;
    }
    .label {
        width: 10%;
        font-size: 0.5em;
        line-height: 1em;
        text-align: center;
        padding-right: 5em;
    }
    .column-input {
        width: 2em;
    }
    .speed-input {
        width: 2.2em;
        margin-left: -1em;
    }
    .column-set, .play-button, .stop-button {
        width: 2.5em;
        font-size: 0.5em;
    }
    .stop-button {
        margin-right: unset;
    }
    .sounds-list {
        padding-top: 0.2em;
        margin-bottom: -0.2em;
        line-height: 0%;
        padding-bottom: unset;
    }
     .drumkit {
        transform: scale(0.15);
    } 
}
@media screen and (min-width: 400px) and (max-width: 540px) {
    body {
        overflow: clip !important;
    }
    .sequencer {
        width: 90%;
    }
    .sounds-column {
        width: 30%;
    }
    .list-title {
        text-align: center;
    }
    .sounds-selector, .options-menu {
        width: 70%;
    }
    .label {
        width: 10%;
        font-size: xx-small;
        text-align: center;
        padding-right: 5em;
    }
    .speed-input, .column-input {
        width: 2em;
        margin-right: -0.1em;
    }
    .speed-input {
        margin-left: -1.5em;
        margin-right: -0.5em;
    }
    .column-set, .play-button, .stop-button {
        width: 3em;
        font-size: 0.5em;
        margin-left: -1em;
    }
    .stop-button {
        margin-right: unset;
    }
    .drumkit {
        transform: scale(0.18);
    }


    .sounds-list {
        padding-bottom: unset;
    }
}
/* media query for iPad mini */
@media screen and (width: 768px) and (height: 1024px) {
    .sounds-list {
        padding-bottom: unset;
    }
}
@media screen and (min-width: 700px) and (max-width: 1024px) {
    .sequencer {
        width: 90%;
    }
    .drumkit {
        transform: scale(0.3);
    }
}
@media screen and (min-width: 1920px) and (max-width: 3790px) {
    .list-title {
        font-size: 1.5em;
    }
    .item {
        font-size: 1em;
        padding-bottom: 1em;
    }
    .label {
        font-size: 1.5em;
    }
    .play-button, .column-set {
        font-size: larger !important;
    }
    .drumkit {
        transform: scale(0.4)
    }
    .container .sequencer {
        height: 240px;
        .sounds-column {
            padding-bottom: 1em;
        }
    }
}
@media screen and (min-width: 3800px) {
    .list-title {
        font-size: 2.5em;
    }
    .item {
        font-size: 1.5em;
    }
    .label {
        font-size: 1.5em;
    }
    .play-button, .column-set {
        font-size: larger !important;
    }
    .drumkit {
        transform: scale(0.5)
    }
    .container .sequencer {
        height: 300px;
        transform: scale(1.5);
        bottom: 10vh;
    }
}